/* Sidebar Styling */
.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    margin-bottom: 4px;
    background: transparent;
    border: none;
    color: #9ca3af;
    /* Gray-400 */
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
    /* Ensure no underline for NavLink */
}

.menu-item:hover,
.menu-item.active {
    background: #384c69;
    /* Gray-800 */
    color: #f3f4f6;
    /* Gray-100 */
}

.menu-item.active {
    background: #374151;
    /* Gray-700 */
    color: white;
    border-left: 4px solid #3b82f6;
    /* Accent Blue */
    border-radius: 4px 8px 8px 4px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #111827;
    /* Darker background for nested items */
}

.submenu.open {
    max-height: 500px;
    /* Increased to fit content */
}

.submenu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px 10px 48px;
    /* Indent child items */
    color: #9ca3af;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 0.9rem;
}

.submenu a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

.logo-img {
    width: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}